body{
  margin: 0 auto;
}
.carousel-text {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 60%;
  align: center;
  top: 10%;
  left: 20%;
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.carousel-text p{
  font-size: 18pt;
}
.carousel-slider{
  background-color: rgba(0, 0, 0, 0);
}

.tcl{

  background-image: -webkit-linear-gradient(132deg, #26c6da, #f06292);
  background-size: 200% 200%;
  animation: BackgroundGradient 10s ease infinite;
  height: auto;
  width: 98.57vw;
  color: #fff;
  text-align: center;
}

.post-container{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  box-shadow: 0px 3px 3px #ccc;
}

.post-title, .post-action{
  padding: 5px;
}
.post-action{
  text-align: right;
}
.post-image{
  position: relative;
  overflow: hidden;
  height: 200px;
}

.post-image img{
  margin-top: -10%;
  width: 100%;
}
